/*----------------- BODY -----------------*/

* {
    box-sizing: border-box;

}



body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

header,
nav,
main,
footer {
    margin: 0 auto;

}

/*----------------- HEADER -----------------*/

header {
    padding-top: 10px;
    background-color: #14147b;
}

header h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}

header h3 {
    font-family: Georgia, serif;
    color: #f4d41e;
    text-align: center;
    padding-bottom: 20px;
}

.logo {
    margin-right: auto;
    margin-left: auto;
}

header img {
    width: 100px;
    height: auto;
    display: flex;

}

/*----------------- HEADER NAV -----------------*/

.hamburger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #f4d41e;
    border: 4px solid #323297;
}


.navigation {
    list-style: none;
    padding-left: 0;
    margin-top: -20px;
    padding-bottom: 40px;
}

.navigation li {
    display: none;
}

.navigation.responsive {
    position: relative;
}

.navigation.responsive li {
    background-color: #14147b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.navigation.responsive li a {
    text-align: center;
    color: #fff;
    padding: .75rem;
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold;
}

.navigation.responsive li.active a {
    color: #f4d41e;
    background-color: #323297;
}

.navigation.responsive li a:hover {
    color: #ff890b;
    background-color: #323297;
}



/*----------------- MAIN -----------------*/

main {
    padding: 25px;
    background: #fff;
    color: #606060;
}

main h2 {
    color: #ff890b;
    margin-top: 0px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
}

main h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    font-weight: normal;
}


main figure img {
    width: 100%;
    height: auto;

}

#currentCond-f,
#currentCond-s,
#currentCond-g {
    text-transform: capitalize;
}

.weather-summary img {
    width: 100px;
    display: flex;
    justify-content: flex-end;
}


main figure {
    margin: 0;
    height: auto;

}

#bluesky {
    box-shadow: 2px 2px 2px #606060;
}

main article {
    padding-top: 40px;
}



.homepage1 h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    text-align: center;
    color: #ff890b;
    font-size: 40px;
}

#img-article-franklin {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px #606060;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    text-align: center;
    color: #ff890b;
}

a {
    text-decoration: none;
    color: inherit;
}

.townboxes:hover {
    box-shadow: 5px 5px 5px #606060; 
}

#topimg-index {
    margin-top: -90px;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px #606060;
}


.townboxes {
    border: 3px solid #606060;
    margin-top: 10px;
    box-shadow: 2px 2px 2px #606060;
    color: #606060;
}


.townboxes p {
    font-weight: bold;
}

.rightcol ul li {
    list-style: square;
    max-width: 400px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.rightcol h3 {
    margin-bottom: -7px;
}

.townboxes .box .leftcol img {
    width: 100%;
}


.townboxes {
    text-align: center;
}


span {
    font-weight: normal;
}


/*----------------- FOOTER -----------------*/

footer {
    clear: both;
    font-family: Georgia, serif;
    color: #fff;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: .9rem;
    background-color: #14147b;
    border-top: 3px solid #606060;

}

footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

footer a:active {
    color: #ff890b;
}

footer a:hover {
    color: #f4d41e;
}

address {
    font-style: normal;
}

address p {
    margin: 0px;
}

#footertitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

/*----------------- MISC CLASS SELECTORS -----------------*/

.forecast {
    display: none;
}

/*----------------- GALLERY CSS -----------------*/

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: center;
    
}

.grid-gallery figure {
    border: 2px solid #606060;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 2px #606060;
}

.grid-gallery figcaption {
    margin-top: 10px;
    font-size: 13px;
    color: #606060;
}

#galleryh1 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.grid-gallery h3 {
    margin: 0px;
    padding-bottom: 5px;
    text-align: center;
}


/*----------------- FORM -----------------*/

form fieldset {
    margin: 1rem 0;
    border: 3px solid #606060;
    border-radius: 5px;
    padding: .5rem 2%;
    font-size: 35px;
    width: 100%;
    max-width: 500px;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form input.submit {
    border: none;
    background-color: #14147b;
    color: white;
    border-radius: .3rem;
    padding: .75rem 1.5rem;
    width: 95%;
    max-width: 20rem;
}

form input.submit:hover {
    background-color: #323297;
}

form input.submit:active {
    background-color: #f4d41e;
    color: #606060;
}

form legend h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 34px;
}

#zip,
#maybe,
#comment {
    padding-bottom: 20px;
}

#ratingvalue {
    color: #14147b;
    font-size: 34px;
}


form label.top,
form div {
    display: block;
    color: #606060;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 18px;
    border: solid 1px #606060;
    border-radius: 4px;
    padding: .75rem;
    color: #606060;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
    font-size: 15px;
}

form label.top input:required {
    border-left: #ff890b solid 6px;
}

form label.top input:required:valid {
    border-left: #14147b solid 6px;

}

.slider {
    height: .2rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff890b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff890b;
    cursor: pointer;
}

.scform {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addinfo {
    font-size: 33px;
}

/*-------------- THANKS PAGE ---------------*/

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanks h1 {
    color: #ff560b;
    font-size: 80px;
    margin: 0px;
}

.thanks p {
    font-size: 24px;
    text-align: center;
}
