@media only screen and (min-width: 64em) {

    
    /* HEADER */
       header img {
        margin-left: 430px;
        margin-top: 0px;
        position: absolute;
        width: 150px;
        height: auto;
    }

    header h1 {
        font-family: Georgia, serif;
        padding-right: 200px;
        color: #ffffff;
        font-size: 40px;
        text-align: center;

    }

    header h3 {
        font-family: Georgia, serif;
        color: #f4d41e;
        text-align: center;
        padding-right: 150px;
    }
    
    

}
